.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  transition: background-color 0.4s ease-in;
}

.container {
  width: 50%;
  padding: 4rem;
  background-color: #dfe6e9;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}
